{% extends "base.html" %}
{% block content %}

<div style="
    max-width:720px; 
    margin:60px auto; 
    padding:40px; 
    background: linear-gradient(145deg, #fff0f7, #ffe6f2); 
    border-radius:20px; 
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
    font-family: 'Georgia', serif;
    line-height: 1.8;
">

    <h1 style="color:#c9184a; text-align:center; font-size:36px; margin-bottom:25px;">
        💌 My Love Letter To You
    </h1>

    <p style="font-size:20px; color:#333;">
        My love,<br><br>
        I made this small website for you, not because I had to,
        but because you deserve something made with time, effort,
        and heart.  
        <br><br>
        Every moment with you makes my world softer, brighter,
        warmer thango.  
        <br><br>
        You’re not just someone I love — you’re someone I choose,
        every single day.  
        <br><br>
        Happy 6 months, my heart.  
        Here’s to the memories we made... and the many more coming.
        Mwahhhhhhhhhh
        <br><br>
        Forever yours ❤️
           -Jeffrery
    </p>

</div>

{% endblock %}
